/* Colors */
$c-white: #fff;
$c-black: #000;

/* Fonts */
$f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;

/* Base variables */
$main-font: 'Open Sans', $f-sans-serif;
$main-font-size: 14px;
$main-line-height: 1.5;
$heading-font: $f-sans-serif;
$heading-line-height: 1.1;
$main-bg: $c-white;
$main-text-color: $c-black;
$secondary-text-color: $c-white;
$link-color: $main-text-color;
$default-transition-time: 0.3s;
$default-transition: all $default-transition-time ease;

/* Media variables */
